:root {
	--primary-color: #D9D9E3;
	--secondary-color: #8E9DB5;
	--tertiary-color: #DDDBFD;
	--fourth-color: #768DB7;
	--fifth-color: #BBB8EF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* main styling */
body {
	justify-content: center;
	align-items: center;
  color: var(--primary-color);
  background-color: var(--fourth-color);
  display: flex;
}

main {
  justify-content: center;
}
/* header styling */
header {
	justify-content: space-evenly;
	display: flex;
  color: var(--primary-color);
  margin: 10px auto 30px;
}
/* nav styling */
nav {
  display: flex;
}
nav ul {
  align-items: flex-end;
  display: flex;
}
nav ul li {
  align-items: flex-end;
  align-content: flex-end;
	display: inline;
  padding: 5px
}

nav ul li:hover {
  font-weight: bold;
}
/* about styling */
.about {
  max-width: 600px;
  margin: 5%;
}
.about-txt h2 {
  text-align: center;
  padding: 10px;
}

.about-txt p {
  padding: 10px;
  line-height: 1.5;;
}

.about-txt p a{
  text-decoration: none;
}

.about-txt p a:hover {
  font-weight: bold;
}

.about-end {
  text-align: center;
  padding: 10px;
}
.about-img {
  border-radius: 10%;
  width: 20vw;
  margin: auto
}

/* project class styling */
.projects {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  margin: auto;
}

.project-container {
  width: 300px;
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px;
  justify-content: center;
}

.project-container img {
  max-width: 100%;
  border-radius: 5%;
  border-width: 3px; 
  border-color: var(--secondary-color);
  border-style: solid;
}

.project-container div {
  margin: 10px auto;
}

.project-container div p a {
  text-decoration: none;
  color: var(--primary-color);
}

.project-container div p a:hover {
  font-weight: bold;
}

.project-title {
  width: 100%;
  text-align: center;
}
/*contact styling */
form div {
  margin: 15px;
}
input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--primary-color);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  float: right;
}

input:focus {
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

textarea {
  font-size: 1rem;
  padding: 0.25rem;
  border: 1px solid var(--primary-color);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
  width: 100%;
}

textarea:focus {
  border: 1px solid var(--primary-color);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

button {
	background: var(--tertiary-color);
	border: 0;
	border-radius: 5px;
	color: var(--fourth-color);
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}

button:hover {
  color: var(--fifth-color)
}

/* Resume styling */
.resPage div {
  margin: 20px auto;
  text-align: center
}
.resPage div h2{
  text-align: center;
}
.resPage ul {
  align-items: flex-end;
  display: flex;
  margin: 10px auto;

}
.resPage ul li {
  align-items: center;
  align-content: center;
	display: flex;
  padding:5px;
}
.resPage ul li a {
  text-decoration: none;
  align-items: center;
  align-content: center;
  color: var(--primary-color);
}
.resPage ul li a:hover {
  font-weight: bold;
}
.res-section {
  margin: auto;
  padding: 10px;
}
.skills h2 {
  margin: 5px auto;
}
.slideshow {
	height: 107px;
	max-width: 50vw;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	transform: translate3d(0, 0, 0);
}

.slideshow > div {
	height: 72px;
	width: 300vw;
	background: url("./assets/images/slideshow.png");
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	transform: translate3d(0, 0, 0);
}
.slideshow .mover {
	animation: moveSlideshow 50s linear infinite;
}

@keyframes moveSlideshow {
	100% {
		transform: translateX(-50%);
	}
}
/* footer styling */
footer {
  justify-content: center;
	display: flex;
  color: var(--primary-color);
  font-size: larger;
}
footer nav a {
	display: inline;
  padding: 5px;
  text-decoration: none;
  color: var(--primary-color);
}

footer nav a:hover {
  font-weight: bold;
}